VITE_API_URL=http://localhost:8084/api/v1
VITE_API_MOCKING=false

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/odonta
SPRING_DATASOURCE_USERNAME=odonta
SPRING_DATASOURCE_PASSWORD=odonta
IDENTITY_BASE_URL=http://localhost:8081/api/v1
INVITE_BASE_URL=http://localhost:8083/api/v1
BILLING_BASE_URL=http://localhost:8085/api/v1
KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_ISSUER_URI=http://localhost:8080/realms/odonta
KEYCLOAK_REALM=odonta
KEYCLOAK_POLITY_CLIENT_ID=polity
KEYCLOAK_POLITY_CLIENT_SECRET=polity-secret
POLITY_PORT=8084
POLITY_MEMBERSHIP_INVITATION_ACCEPT_URL_BASE=http://localhost:5173/polities/invitations
POLITY_MEMBERSHIP_INVITATION_RETRY_DELAY=PT1M
POLITY_WEB_PORT=8080
CARDO_IDENTITY_UPSTREAM=identity:8081
POLITY_SERVICE_UPSTREAM=polity:8084
