VITE_API_URL=http://localhost:8084/api/v1
VITE_API_MOCKING=false

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/odonta
SPRING_DATASOURCE_USERNAME=odonta
SPRING_DATASOURCE_PASSWORD=odonta
IDENTITY_BASE_URL=http://localhost:8081/api/v1
KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_REALM=odonta
KEYCLOAK_POLITY_CLIENT_ID=polity
KEYCLOAK_POLITY_CLIENT_SECRET=polity-secret
POLITY_PORT=8084
