@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@polity/ui/styles.css";
@import "@fontsource-variable/geist";
@import "@polity/design/product.css";

@utility focus-indicator {
  &:focus-visible {
    @apply outline-none ring-3 ring-ring/50;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  a,
  button {
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
  }
  html {
    @apply font-sans;
    scrollbar-gutter: stable;
  }
}
